<div class="course-basket-add-to-study-plan btn-group">
  <button type="button" class="btn btn-success dropdown-toggle
" data-toggle="dropdown">
    <i class="course-basket-add-to-study-plan-icon"></i>
  </button>
  <ul class="course-basket-add-to-study-plan-dropdown" role="menu">
    {{#each scheduleGroupSemester in scheduleGroupSemesters}}
      <li>
        <a href="#" {{action 'setPlannedCourseSemester' coursePlanning scheduleGroupSemester.scheduleGroup scheduleGroupSemester.semesterYear scheduleGroupSemester.semesterSeason}}>
          {{#each scheduleGroupSemester.scheduleGroup.schedules}}
            <span>{{season}} {{block}} {{scheduleGroupSemester.semesterYear}}</span>
          {{/each}}
        </a>
      </li>
    {{/each}}
  </ul>
</div>
