<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  <span class="caret"></span>
</button>
<ul class="dropdown-menu" role="menu">
  <li>
    <a href="#" {{action 'deleteCoursePlanning'}}>
      <i class="fa fa-trash-o"></i> Remove
    </a>
  </li>
</ul>
