<h5>{{category}}</h5>
{{totalEctsPointsPlannedForCategory}} / {{ectsPointsNeededInCategory}} ECTS Points

{{course-category-status-bar totalEctsPointsPlanned=totalEctsPointsPlannedForCategory
                             ectsPointsNeeded=ectsPointsNeededInCategory
                             category=category}}
