.course-basket-course
  @extend .col-xs-12
  margin-top: 5px
  margin-bottom: 5px

.course-basket-add-to-study-plan
  float: left
  margin-right: 7px

.course-basket-add-to-study-plan-icon
  @extend .fa
  @extend .fa-plus-circle
  @extend .fa-lg

.course-basket-add-to-study-plan-dropdown
  @extend .dropdown-menu
  min-width: 0px

.course-basket-add-to-study-plan-dropdown > li > a
  padding: 3px 15px


.course-basket-course-information
  float: left

.course-basket-course-ects
  font-size: 10px
  color: lighten(#000000, 10%)
