.course-title-section,
.course-main-information-section
  margin-top: 20px
  margin-bottom: 20px
  overflow: auto

.course-title-with-course-number
  margin-top: 20px
  margin-bottom: 20px

.course-number-and-title
  margin-bottom: 0

.course-number-and-title
  overflow: auto

.course-number
  @extend .col-sm-2
  color: #999999

.course-title
  @extend .col-sm-10

.course-translated-title
  @extend .col-sm-10
  @extend .col-sm-offset-2
  margin-top: 5px
  margin-bottom: 5px
  color: #666666
  font-weight: 200

.course-important-information
  @extend .col-sm-8
  @extend .col-md-6
  @extend .col-md-offset-2
  margin-top: 15px

.course-schedule
  @extend .col-sm-4
  @extend .col-md-4

.course-schedule-human-text
  @extend .col-sm-4
  @extend .col-md-4

.course-ects-points,
.course-language
  @extend .col-sm-5

.course-calendar-block-type,
.course-institute
  @extend .col-sm-7
  margin-bottom: 5px

.course-ects-points,
.course-language,
.course-calendar-block-type,
.course-institute
  font-size: 1.3em

.course-institute-text
  font-size: 0.7em

.course-type-information
  margin-top: 15px
  margin-bottom: 15px

.course-type,
.course-open-education
  @extend .col-xs-12

.course-type
  font-size: 1.2em
  color: #666

.course-top-comment
  @extend .col-xs-12
  background-color: whitesmoke
  border: 1px solid #e3e3e3
  border-radius: 4px
  padding: 10px 15px
  margin-bottom: 20px

.course-sidebar
  @extend .col-sm-4
  @extend .col-sm-push-8

.course-sidebar-section
  margin-bottom: 30px

.course-teachers-headline
  margin-top: 0

.course-long-information
  +clearfix
  @extend .col-sm-8
  @extend .col-sm-pull-4
  @extend .col-md-6
  @extend .col-md-offset-2
  @extend .col-md-pull-4

.course-important-long-information-list dt
  font-size: 18px

.course-important-long-information-list dd,
.course-other-long-information-list dd
  margin-bottom: 20px

.course-other-long-information-list dt
  font-size: 16px

.course-short-information dt
  @extend .col-sm-3
  @extend .col-md-2
  font-size: 15px

.course-short-information dd
  @extend .col-sm-9
  @extend .col-md-10
  margin-bottom: 10px

.course-learning-objectives-description
  margin: 7px 0

.course-learning-objectives-list
  list-style-type: none
  padding-left: 2px
  margin-left: 0

.course-learning-objective
  background: transparent asset-url('bullet.png') no-repeat 0 1.1ex
  padding-left: 20px

.course-general-objectives
  font-size: 1.2em

@media (min-width: $screen-sm-min)
  .course-number
    text-align: right
