$block-background-color: darken(#ffffff, 8%)
$block-font-color: darken(#ffffff, 30%)
$block-with-course-background-color: #4cae4c
$block-with-course-font-color: #ffffff
$block-time-column-width: 50px
$block-border-spacing: 2px
$block-width: 100px

.study-plan-schedule
  border-bottom: 1px solid black
  padding-bottom: 20px

.study-plan-schedule-title,
.study-plan-schedule-ects-counter
  @extend .col-sm-6

.study-plan-schedule-ects-counter
  font-size: 18px
  padding-top: 5px
  padding-bottom: 5px

.study-plan-clearfix
  +clearfix

.study-plan-schedule-table
  border-spacing: 2px
  border-collapse: separate
  line-height: normal

.study-plan-schedule-block
  width: $block-width
  height: 70px
  text-align: center
  background-color: $block-background-color
  font-size: 18px
  color: $block-font-color

.study-plan-schedule-block.has-course-scheduled
  font-size: 14px
  padding: 2px
  color: $block-with-course-font-color
  background-color: $block-with-course-background-color

.study-plan-schedule-three-week-course
  margin-left: $block-time-column-width + 2*$block-border-spacing
  background-color: $block-background-color
  padding: 5px
  height: 45px
  width: 5 * $block-width + 4*$block-border-spacing
  color: $block-font-color

.study-plan-schedule-three-week-course.has-course-scheduled
  color: $block-with-course-font-color

.study-plan-schedule-three-week-course,
.study-plan-schedule-block
  &.basic-elective,
  &.advanced-elective
    background-color: $elective-course-color

  &.thesis,
  &.projet-and-general
    background-color: $project-course-color

  &.natural_science,
  &.general-competence
    background-color: $science-and-general-course-color

  &.technological-programme-course,
  &.technological-specialization
    background-color: $tecnological-course-color

.study-plan-schedule-block-time
  width: 50px
  font-size: 15px
